<section class="bg-primary py-24 px-6 pb-16">
  <div class="max-w-screen-lg w-full mx-auto my-8 text-white px-4">
    <h1 class="text-center text-4xl sm:text-3xl font-bold mb-8">Términos Y Condiciones</h1>
    @for (section of termsData; track section.title) {
      <h2 class="text-xl font-semibold mt-8 mb-3">{{section.title}}</h2>
      @for (item of section.content; track item.text || item.items) {
        @if(item.type === 'paragraph') {
          <p class="text-base sm:text-sm leading-relaxed mb-4">{{item.text}}</p>
        }@else if (item.type === 'list') {
          <ul class="list-disc ml-4 mb-4">
            @for (listItem of item.items; track $index) {
              <li class="text-base sm:text-sm leading-relaxed">{{listItem}}</li>
            }
          </ul>
        }
      }
    }
    <p class="text-base sm:text-sm leading-relaxed mb-1 mt-8">Fecha de última actualización: {{lastUpdated}}</p>
    <p class="text-base sm:text-sm leading-relaxed italic">Nota: Este es un documento general. Recomendamos asesoría legal profesional para ajustarlo a tus necesidades específicas y cumplimiento normativo local.</p>
  </div>
</section>
