<section class="register">
  <div class="register-box">
    <div class="register-grid">
      <div class="register-image">
        <h1>¡Intenta Social Balance!</h1>
        <img src="register.webp" alt="Registro" />
      </div>
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" class="register-form">
        <h2>Registro</h2>
        <div class="form-group">
          <input type="text" name="username" ngModel placeholder="Nombre de Usuario" required #username="ngModel" />
          @if (username.invalid && username.touched) {
            <div class="error">Campo obligatorio</div>
          }
        </div>
        <div class="form-group">
          <input type="text" name="fullname" ngModel placeholder="Nombre Completo" required #fullname="ngModel" />
          @if (fullname.invalid && fullname.touched) {
            <div class="error">Campo obligatorio</div>
          }
        </div>
        <div class="form-group">
          <input type="email" name="email" ngModel placeholder="Correo Electrónico" required #email="ngModel" />
          @if (email.invalid && email.touched) {
            <div class="error">Correo inválido</div>
          }
        </div>
        <div class="form-group">
          <input type="tel" name="phone" ngModel placeholder="Número de Teléfono" required #phone="ngModel" />
          @if (phone.invalid && phone.touched) {
            <div class="error">Campo obligatorio</div>
          }
        </div>
        <div class="form-group">
          <input type="text" name="university" ngModel placeholder="Universidad" required #university="ngModel" />
          @if (university.invalid && university.touched) {
            <div class="error">Campo obligatorio</div>
          }
        </div>
        <div class="form-group checkbox">
          <label>
            <input type="checkbox" name="terms" ngModel required />
            He leído y acepto los Términos y Condiciones.
          </label>
        </div>
        <button type="submit" [disabled]="registerForm.invalid">Crear cuenta</button>
      </form>
    </div>
  </div>
</section>