<section class="contact">
  <div class="contact-box">
    <h2>Contáctanos</h2>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="row">
        <div class="form-group">
          <div class="icon-input">
            <i class="fas fa-user"></i>
            <input type="text" name="firstName" ngModel placeholder="Nombres" required #firstName="ngModel" />
          </div> 
          @if (firstName.invalid && firstName.touched) {
            <div class="error">El nombre es obligatorio.</div>
          }
        </div>
        <div class="form-group">
          <div class="icon-input">
            <i class="fas fa-user"></i>
            <input type="text" name="lastName" ngModel placeholder="Apellidos" required #lastName="ngModel" />
          </div>
          @if (lastName.invalid && lastName.touched) {
            <div class="error">El apellido es obligatorio.</div>
          }
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="icon-input">
            <i class="fas fa-phone"></i>
            <input type="tel" name="phone" ngModel placeholder="Número de Teléfono" required #phone="ngModel" />
          </div>
          @if (phone.invalid && phone.touched) {
            <div class="error">El número es obligatorio.</div>
          }    
        </div>
        <div class="form-group">
          <div class="icon-input">
            <i class="fas fa-envelope"></i>
            <input type="email" name="email" ngModel placeholder="Correo electrónico" required #email="ngModel" />
          </div>
          @if (email.invalid && email.touched) {
            <div class="error">Correo electrónico inválido.</div>
          }
        </div>
      </div>
      <div class="form-group">
        <textarea name="message" ngModel rows="5" placeholder="Escriba aquí su mensaje" required #message="ngModel"></textarea>
        @if (message.invalid && message.touched) {
          <div class="error">El mensaje es obligatorio.</div>
        }
      </div>
      <div class="form-group captcha">
        <label>
          <i class="fas fa-robot"></i>
          <input type="checkbox" name="captcha" [(ngModel)]="captchaChecked" required />
          I'm not a robot
        </label>
        @if (!captchaChecked && formAttempted && !formSubmitted) {
          <div class="error">Debes confirmar que no eres un robot.</div>
        }
      </div>
      <button type="submit" [disabled]="contactForm.invalid || !captchaChecked">Enviar</button>
      @if (formSubmitted) {
        <div class="success-message">¡Mensaje enviado correctamente!</div>
      }
      
    </form>
  </div>
</section>


<section class="divider">
  <div class="divider-content">
    <h3>¿Tienes alguna pregunta?</h3>
    <p>¡Estamos aquí para ayudarte! Completa el formulario y nos pondremos en contacto contigo lo antes posible.</p>
  </div>
</section>